body {
    margin: 0;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
        Arial, sans-serif;
    -webkit-font-smoothing: antialiased; 
}

.toolbar {
    position: fixed;
    top: 16px; 
    left: 50%;
    transform: translateX(-50%);
    background: #ffffff;
    border-radius: 12px; 
    padding: 12px;
    display: flex;
    gap: 10px;
    align-items: center;
    z-index: 10;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


.toolbar label {
    font-size: 14px;
    color: #555;
    margin-right: -2px; 
}


.toolbar button {
    background: transparent;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    color: #333;
    font-size: 14px;
    transition: background-color 0.2s ease;
}

.toolbar button:hover {
    background-color: #f4f4f5; 
}

.toolbar button.active {
    background-color: #e4e4e7; 
    color: #000;
}


input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 28px;
    height: 28px;
    padding: 0;
    border: none;
    border-radius: 50%; 
    cursor: pointer;
    overflow: hidden;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    padding: 0;
}
input[type="color"]::-moz-color-swatch {
    border: none;
    border-radius: 50%;
    padding: 0;
}

input[type="range"] {
    cursor: pointer;
    margin-left: 4px;
}

#drawing-canvas {
    display: block;
    background: #f9f9f9;
}

#cursor-canvas {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 5;
}

/* --- Responsive Styles */
@media (max-width: 650px) {
    .toolbar {
        flex-wrap: wrap;
        justify-content: center;
        padding: 8px;
        top: 8px;
        width: 95%;
    }

    .toolbar label {
        font-size: 12px;
        margin-right: 0;
    }

    .toolbar button {
        font-size: 12px;
        padding: 8px;
    }

    input[type="range"] {
        max-width: 80px; 
    }
}